RewriteEngine On

# Redirect mbgplayground.playit.plus > mbgplayground.xyz
RewriteCond %{HTTP_HOST} ^mbgplayground\.playit\.plus$ [NC]
RewriteRule ^(.*)$ https://mbgplayground.xyz/$1 [R=301,L]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Custom error pages
ErrorDocument 404 /_common/404
ErrorDocument 403 /_common/403
ErrorDocument 500 /_common/500