RewriteEngine On

# Redirect mbgplayground.playit.plus > mbgplayground.xyz
#RewriteCond %{HTTP_HOST} ^mbgplayground\.playit\.plus$ [NC]
#RewriteRule ^(.*)$ https://mbgplayground.xyz/$1 [R=301,L]

# Auto Appends
<If "%{REQUEST_URI} =~ m#mods\.php$#">
    php_value auto_prepend_file none
</If>
php_value auto_prepend_file ".common/bootstrap.php"

# Remove .php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

# Custom error pages
ErrorDocument 404 /404
ErrorDocument 403 /403
ErrorDocument 500 /500