RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

# Custom error pages
ErrorDocument 404 /404
ErrorDocument 403 /403
ErrorDocument 500 /500