<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MBG {{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/media/mbglogo.png" type="image/png">
		<link rel="stylesheet" href="/css/game.css">
    </head>
    <body>
        <canvas id="dust"></canvas>
        <div class="container">
            <div class="section" style="text-align:center">
                <h1 class="error">{{ title }}</h1>
                <p>{{ description }}</p>
            </div>
        </div>
        <footer>
			<!-- {{ navBar }} -->
			{{ license }}
            {{ poweredBy }}
		</footer>
		<script defer src="/js/dust.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJJZV6FJE"></script>
		<script async src="/js/googletag.js"></script>
    </body>
</html>