<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MBG {{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{description}}">
		<meta property="og:title" content="MBG {{title}}">
		<meta property="og:description" content="{{description}}">
		<meta property="og:url" content="{{url}}">
		<meta property="og:image" content="{{image}}">
		<meta property="og:type" content="website">
		<link rel="canonical" href="{{url}}">
		<link rel="icon" href="/media/logombg.png" type="image/png">
		<link rel="stylesheet" href="/css/game.css">
	</head>
	<body>
		<canvas id="dust"></canvas>
		<div class="container">
			<div class="discord-container">
				<a href="/discord" class="discord-button" target="_blank">
					<img src="/media/logodiscord.png" alt="Discord Logo" class="discord-icon">
					Join Discord
				</a>
			</div>
			<div class="section">
				<h1>MBG {{title}}</h1>
                <ul>
                    <li>Our server is located in <span class="highlight">Philippines</span>.</li>
                    <li>Join our <span class="highlight">Discord</span> to know more about the server details.</li>
                </ul>
				<div class="line"></div>
				<div class="tags" id="tags"></div>
			</div>
			<div class="section">
				<div class="info-grid">
					<div class="info-box"><b>Status</b><br><span class="highlight right-side" id="statusText"></span></div>
					<div class="info-box"><b>Uptime</b><br><span class="highlight right-side" id="uptime24"></span></div>
					<div class="info-box"><b>Online Players</b><br><span class="highlight right-side" id="onlinePlayers"></span></div>
					{{infoBox}}
				</div>
			</div>
		</div>
		<footer>
			<!-- {{navBar}} -->
			{{footer}}
		</footer>
		<script async src="{{onloadJs}}"></script>
		<script async src="/js/tagbuilder.js"></script>
		<script async src="/js/dust.js"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJJZV6FJE"></script>
		<script async src="/js/googletag.js"></script>

		<audio id="1up" src="/media/audio1up.mp3" preload="auto"></audio>
		<script async src="/js/easteregg.js"></script>
	</body>
</html>