<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{description}}">
		<meta property="og:title" content="{{title}}">
		<meta property="og:description" content="{{description}}">
		<meta property="og:url" content="{{url}}">
		<meta property="og:image" content="{{image}}">
		<meta property="og:type" content="website">
		<link rel="canonical" href="{{url}}">
		<link rel="icon" href="/media/mbglogo.png" type="image/png">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<canvas id="dust"></canvas>
		<h1>{{title}}</h1>
		<div class="tagline">
			<p>Your go-to destination for multiplayer fun!</p>
			<p>We run several self-hosted game servers where everyone is welcome to play together.</p>
		</div>
		<div class="container">
			<a class="card" href="/counterstrike">
				<div class="game-card">
					<div class="status" id="status-counterstrike"></div>
					<div class="tags" id="tags-counterstrike"></div>
					<img src="/media/counterstrikebanner.jpg" alt="Counter-Strike">
				</div>
				<div class="card-title">Counter-Strike</div>
			</a>
			<a class="card" href="/hytale">
				<div class="game-card">
					<div class="status" id="status-hytale"></div>
					<div class="tags" id="tags-hytale"></div>
					<img src="/media/hytalebanner.jpg" alt="Hytale">
				</div>
				<div class="card-title">Hytale</div>
			</a>
			<a class="card" href="/projectzomboid">
				<div class="game-card">
					<div class="status" id="status-projectzomboid"></div>
					<div class="tags" id="tags-projectzomboid"></div>
					<img src="/media/projectzomboidbanner.jpg" alt="Project Zomboid">
				</div>
				<div class="card-title">Project Zomboid</div>
			</a>
			<a class="card" href="/vrising">
				<div class="game-card">
					<div class="status" id="status-vrising"></div>
					<div class="tags" id="tags-vrising"></div>
					<img src="/media/vrisingbanner.jpg" alt="V Rising">
				</div>
				<div class="card-title">V Rising</div>
			</a>
			<a class="card" href="/valheim">
				<div class="game-card">
					<div class="status" id="status-valheim"></div>
					<div class="tags" id="tags-valheim"></div>
					<img src="/media/valheimbanner.jpg" alt="valheim">
				</div>
				<div class="card-title">Valheim</div>
			</a>
		</div>
		<a href="/discord" class="discord-button" target="_blank">
			<img src="/media/discordlogo.png" alt="Discord Logo" class="discord-icon">
			Join Discord
		</a>
		<footer>
			<!-- <p>
				<a href="https://uptime.mbgplayground.xyz/" target="_blank">Uptime</a> |
				<a href="https://hardware.mbgplayground.xyz/" target="_blank">Hardware</a>
			</p> -->
			{{license}}
			{{poweredBy}}
		</footer>
		<script async src="{{onloadJs}}"></script>
		<script async src="/js/tagbuilder.js"></script>
		<script async src="/js/dust.js"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGJJZV6FJE"></script>
		<script async src="/js/googletag.js"></script>

		<audio id="easteregg" src="/media/easteregg.mp3" preload="auto"></audio>
		<script async src="/js/easteregg.js"></script>
	</body>
</html>